/* $Id: finder.css,v 1.2.2.25 2010/05/30 11:14:15 danielb Exp $ */

div.finder-buttons {
  clear: both;
}

div.finder-buttons input.form-submit {
  float: left;
}

div.finder-buttons div.ahah-progress {
  float: right;
}