/*####################################################################################################################################
############################################################ NORMALIZATION ###########################################################
####################################################################################################################################*/

/*Normalizes margin, padding*/
body, div, dl, dt, dd, ul ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
/*Normalizes font-size for headers*/
h1, h2, h3, h4, h5 {
	font-size :100%;
}
/*Removes list-style from lists*/
/*
ol, ul, li {
	list-style:none;
}
*/
/*Normalizes font-style and font-weight to normal*/
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
/*Removes borders and spacing from tables*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Removes border from fieldset and img*/
fieldset, img {
	border: 0;
}
/*Left-aligns text in caption and th*/
caption, th {
	text-align:left;
}
/*Removes quotation marks from q*/
q:before, q:after {
	content:'';
}

/*####################################################################################################################################
############################################################ HTML ELEMENTS ########################################################### 
####################################################################################################################################*/

h1 {
	font-size:20px;
}

h2 {
     font-size:18px;
	 background-color:#000;
     font-family: Arial, Helvetica, Sans-Serif;
     font-weight:bold;
     margin:0;
     padding: 6px 10px 4px 10px;
     color:#FFF;
}

h2 a:hover {
	color:#FFF;
	text-decoration:underline;
}

h2 a {
	color:#FFF;
}

h3 {
	font-size:16px;
	font-weight:bold;
}
h3 a {
	color:#3D3B35;
	text-decoration:none;
}
h3 a:hover {
	color:#1D3359;
	text-decoration:underline;
}
h3 a:visited {
	color:#1D3359;
}
p {
	font-size:0.95em;
	margin-top:14px;
	margin-bottom:14px;
}body {
   font-family:  Arial, Helvetica, Sans-Serif;
   color:#000;
}

a {
	color:#000;
	text-decoration:none;
}

a:hover {
	color:#000;
	text-decoration:underline;
}

a:visited {
	font-weight:bold;
}

/*####################################################################################################################################
################################################## COMMON CUSTOM ELEMENTS ############################################################
####################################################################################################################################*/


/*.field-item {
	margin-bottom:14px;
}*/
.group-address {
	margin-bottom:14px;
}
/*h1.title {
	display:none;
}*/
.field-type-iframe h1 {
	margin-left:-14px;
}
/*div.field {
	margin-top:14px;
}*/

/*#block-views-front_page_videos-block_1 {padding-top:50px;}*/
/** body **/

/********************************************************* FORM ITEMS  ****************************************************************/

div.form-item input.form-text {
	width:250px;
	font-size:16px;
	height:20px;
	padding-left:2px;
	vertical-align:middle;
	border:1px solid #000;
}
/*#search-block-form */input.form-submit {
	background-color:#000;
	border:#FFF solid 1px;
	color:#FFF;
	height:22px;
	cursor:pointer;
	vertical-align:middle;/*background: url(images/search-button.jpg) no-repeat;
	width:21px;
	margin-bottom:2px;*/
}

/*h2.print-edition {
	width:206px;
}*/

#edit-submit {
	margin:10px;
}

legend {
	font-weight:bold;
	font-size:18px;
}
/*#user-login input.form-submit {
	background: none;
	border: none;
	background: transparent url(images/submit.png) no-repeat;
	width:69px;
	height:21px;
	cursor:pointer;
	overflow: hidden;
	padding: 55px 0 0;
}
#user-pass input.form-submit {
	background: none;
	border: none;
	background: transparent url(images/submit.png) no-repeat;
	width:69px;
	height:21px;
	cursor:pointer;
	overflow: hidden;
	padding: 21px 0 0;
}
#user-register input.form-submit {
	background: none;
	border: none;
	background: transparent url(images/submit.png) no-repeat;
	width:69px;
	height:21px;
	cursor:pointer;
	overflow: hidden;
	padding: 21px 0 0;
}
*/

/*####################################################################################################################################
####################################################### STRUCTURAL ELEMENTS ########################################################## 
####################################################################################################################################*/


/********************************************************* ACCESSIBILITY ****************************************************************/

#skip-to-nav a, #skip-to-nav a:hover, #skip-to-nav a:visited {
	position: absolute;
	left: 0;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
#skip-to-nav a:active, #skip-to-nav a:focus {
	position: static;
	width: auto;
	height: auto;
}

/********************************************************* CONTAINER ELEMENTS ****************************************************************/

#page, #closure-blocks {
	/* margin-left: auto;
	margin-right: auto;*/
	margin-top:20px;
	margin-left:20px;
	width: 1024px;
}
#page-inner {
}
/** main (container for everything else) **/
  #main {
	clear:both;
	position: relative;
	/*border-top: 2px ridge #F0F0F0;*/
	/*border-bottom: 2px ridge #F0F0F0;*/
	margin-top:10px;
	margin-bottom: 0px;
}
#main-inner {
	padding:0px 0px 0px 0px;
}

/********************************************************* HALF PAGE NAV BANNERS ****************************************************************/

#navigation_banners {
     
}
#navigation-banner-left {
	/*padding-top:10px;*/
	text-align:center;
	padding-right: 11px;
	width:500px;
	float:left;/*border-right:solid 1px #919191;*//*border-top: 2px ridge #F0F0F0;*/
}
#navigation-banner-right {
	/*padding-top:10px;*/
	text-align:center;
	padding-left: 11px;
	width:500px;
	float:right;/*border-top: 2px ridge #F0F0F0;*/
}

/********************************************************* HEADER ****************************************************************/

#header {
	clear:both;
}

#header-inner {
	background-color:#000;
	padding:10px;*/
}

/********************************************************* HALF PAGE TOP ****************************************************************/

#half-page-top-container {
	margin-top:0px;
}
#half-page-top-left {
	width:500px;
	float:left;
}
#half-page-top-right {
	width:500px;
	float:right;
}

/********************************************************* MAIN CONTENT SECTION ****************************************************************/

#content {
	clear:left;
}

#content, .no-sidebars #content {
	float: left;
	width: 1024px;
	margin-left: 0;
	margin-right: -1024px; /* Negative value of #content's width + left margin. */
	padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
}
.sidebar-left #content {
	width: 512px;
	margin-left: 512px; /* The width of #sidebar-left. */
	margin-right: -1024px; /* Negative value of #content's width + left margin. *//*border-left:2px dotted #999;*/
}
.sidebar-right #content {
	width: 512px;
	margin-left: 0;
	margin-right: -512px; /* Negative value of #content's width + left margin. *//*border-right:2px dotted #999;*/
}
.two-sidebars #content {
	width: 340px;
	margin-left: 340px; /* The width of #sidebar-left */
	margin-right: -680px; /* Negative value of #content's width + left margin. *//*border-left:2px dotted #999;
				border-right:2px dotted #999;*/
}
#content-inner {
	margin: 0;
	padding: 0px 0px 0px 0px;
}
/** sidebar-left **/
 .sidebar-left #sidebar-left {
	float: left;
	width: 512px;
	margin-left: 0;
	margin-right: -512px; /* Negative value of #sidebar-left's width + left margin. */
	padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-left-inner. */
	/*border-right: 2px ridge #F0F0F0;*/
}
.two-sidebars #sidebar-left {
	float: left;
	width: 340px;
	margin-left: 0;
	margin-right: -340px; /* Negative value of #sidebar-left's width + left margin. */
	padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-left-inner. */
	/*border-right: 2px ridge #F0F0F0;*/
}
#sidebar-left-inner {
	margin: 0 10px 0 0;
	padding: 0;
}
/** sidebar-right **/
  .sidebar-right #sidebar-right {
	float: left;
	width: 512px;
	margin-left: 512px; /* Width of content + sidebar-left. */
	margin-right: -1024px; /* Negative value of #sidebar-right's width + left margin. */
	padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-right-inner. *//*border-left: 2px ridge #F0F0F0;*/
}
.two-sidebars #sidebar-right {
	float: left;
	width: 340px;
	margin-left: 680px; /* Width of content + sidebar-left. */
	margin-right: -1020px; /* Negative value of #sidebar-right's width + left margin. */
	padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-right-inner. *//*border-left: 2px ridge #F0F0F0;*/
}
#sidebar-right-inner {
	margin: 0 0 0 10px;
	padding: 0;
}

/********************************************************* LISTBOXES ****************************************************************/
  #listboxes {
	clear:both;
	position: relative;
	/*border-bottom: 2px ridge #F0F0F0;*/
	margin-bottom: 0px;
}
#listboxes-inner {
	padding: 0px 1px 0px 8px;
}
/** left-listbox **/

  #left-listbox {
	float: left;
	width: 332px;
	margin-left: 0;
	margin-right: -330px; /* Negative value of #left-listbox's width + left margin. */
	padding: 0; /* DO NOT CHANGE. Add padding or margin to #left-listbox-inner. */
}
#left-listbox-inner {
	margin: 0;
	padding-right:12px;
	min-height:348px;
	/**border-right: 1px solid #919191;*/
}
/** middle listbox **/

  #middle-listbox {
	float:left;
	width: 336px;
	margin-left: 336px; /* The width of #listbox-left */
	margin-right: -668px; /* Negative value of #middle-listbox width + left margin. */
}
#middle-listbox-inner {
	margin: 0;
	padding: 0px 12px 0px 12px;
	min-height:348px;
	/*border-right: 1px solid #919191;
	border-left: 1px solid #868686;*/
}
/** right-listbox **/
  #right-listbox {
	float: left;
	width: 332px;
	margin-left: 666px; /* Width of middle-listbox + left-listbox. */
	margin-right: -1023px; /* Negative value of #right-listbox's width + left margin. */
	padding: 0; /* DO NOT CHANGE. Add padding or margin to #right-listbox-inner. */
}
#right-listbox-inner {
	margin: 0;
	padding-left:12px;
	min-height:348px;
	/*border-left: 1px solid #868686;*/
}

/********************************************************* HALF PAGE BOTTOM ****************************************************************/

#half-page-bottom-container {
	margin-bottom:14px;
	/*margin-top:14px;*/
	clear:left;
}
#half-page-bottom-left {
	/*padding-top:10px;
	padding-right: 11px;*/
	width:500px;
	float:left;
	/*border-right:solid 1px #919191;*/
	/*border-top: 2px ridge #F0F0F0;
	min-height:300px;*/
}
#half-page-bottom-right {
	/*padding-top:10px;
	padding-left: 11px;*/
	width:500px;
	float:right;
	/*border-left:solid 2px #868686;
	border-top: 2px ridge #F0F0F0;
	min-height:300px;*/
}


/********************************************************* NAVIGATION BAR ****************************************************************/

#navbar {
	clear:both;
	width:1024px;
	background-color:#FFF;
	margin-top:4px;
	/*padding:10px;*/
}

/*#navbar-inner {
	margin-top:14px;
}*/

/********************************************************* FOOTER ****************************************************************/

  #footer {
}
#footer-inner {
}

/********************************************************* SKYSCRAPER RIGHT ****************************************************************/

#skyscraper-right {
	position:absolute;
	left:1060px;
	top:20px;
}
/** Prevent overflowing content **/
  #header, #content, #half-page-top-left, #half-page-top-right, #sidebar-left, #sidebar-right, #middle-listbox, #left_listbox, #right_listbox, #half-page-bottom-left, #half-page-bottom-right, #navbar, #footer, #closure-blocks #navigation-banner-left #navigation-banner-right #skyscraper-right {
	overflow: visible;
	word-wrap: break-word; /* A very nice CSS3 property */
}
/*####################################################################################################################################
#########################################################PARTS OF THE PAGE############################################################
####################################################################################################################################*/

/********************************************************* HEADER ELEMENTS ****************************************************************/

#logo-title {
}
#logo {
	float: left;
	margin-right:14px;
}
#site-name {
	text-indent:-9999px;
}
#site-slogan {
	color:#FFF;
	margin-top:8px;
}
#site-slogan-front {
	color:#FFF;
	margin-top:2px;
}
#header-blocks {
	clear: both;
	float:right;
	margin-top:-55px;
	font-size:12px;
	color:#FFF;
}
#header-blocks a {
	color:#FFF;
}
#header-blocks a:hover {
	color:#3AAAD4;
}
#block-menu-menu-members-menu ul {
	text-align:right;
	margin-right:66px;
}
#block-menu-menu-members-menu li {
	display:inline;
	list-style:none;
}
#block-menu-menu-login-menu ul {
	text-align:right;
	margin-right:64px;
}
#block-menu-menu-login-menu li {
	display:inline;
	list-style:none;
}
.block {
	margin-bottom:10px;
}
#edit-search-block-form-1-wrapper {
margin-top:0;
margin-bottom:0;
}
#edit-search-block-form-1-wrapper .form-submit {
	margin:0 0 0 10px;
}

/********************************************************* VIDEO ****************************************************************/


/*div.view-kaltura-recently-added-videos li {
	list-style:none;
}
.views-field-kaltura-thumbnail-url {
	background-color:#EBEBEB;
	padding:6px 6px 8px 6px;
}
.views-field-field-embed-video-embed-1 {
	background-color:#EBEBEB;
	padding:4px;
}*/
.views-view-grid td {
	vertical-align:middle;
}
/*
.view-front-page-videos {
	margin-left:-6px;
}
.view-front-page-3rdparty-videos{
	margin-top:-36px;
	margin-left:-6px;
}
.node .kaltura_thumb {
	display:none;
}
.node .kaltura_tags {
	display:none;
}
.node-type-kaltura-entry {
	margin-bottom:14px;
}
.view-front-page-videos h2 {
	margin-bottom:14px;
}
.node .kaltura_wrapper {
	margin-top:6px;
}
.field-type-emvideo .field-label {
	display:none;
}
.field-field-brief .field-label {
	display:none
}
.field-field-brief {
	font-size:20px;
	font-weight:bold;
}

.node-type-embedded-video {
	margin-bottom:14px;
}*/

/********************************************************* NEWS RELEASES ****************************************************************/
/*
#news-release {
	margin-top:14px;
}
.news-release-content {
	color:#FFF;
	background-color:#646464;
	margin-top:35px;
	margin-left:-14px;
	padding:14px;
}
h2.news-releases {
	position:absolute;
	background:none;
	background-color:#39A9D3;
	color:#FFF;
	width:150px;
	height:40px;
	padding-left:14px;
	margin-left:14px;
	z-index:99;
	line-height:40px
}
.news-release-inner {
}
*/
/********************************************************* NEWS ARTICLES ****************************************************************/

#content-header {
	padding:6px 10px;
	background-color:#000;
	/*border-top:2px solid #000;
	border-left:2px solid #000;
	border-right:2px solid #000;
	padding-left:4px;*/
}
#content-header h1 {
	font-size:1.4em;
	color:#FFF;
}
div.submitted {
	font-size:1em;
	font-weight:bold;
}
div.form-item label {
	font-size:0.95em;
}
#article-links {
	color:#39A9D3;
	font-size:0.75em;
	margin:14px 0 0px -5px;
}
#article-links a {
	text-decoration:underline;
	color:#39A9D3;
}
#article-links a:hover {
	color:#1D3359;
}
#article-links a:visited {
	color:#1D3359;
}

/*#content-inner {
	border:2px solid #000;
	padding:6px;
}*/

#content-area {
	margin-bottom:10px;
}

.node-inner {
	margin-top:10px;
}

.byline {
	font-weight:bold;
}

/********************************************************* BLOCKS ****************************************************************/


div.block-menu {
	border-bottom:none;
	margin-bottom:0px;
	padding-bottom:0px;
}
div.block-search {
	border-bottom:none;
	margin-bottom:0px;
	padding-bottom:0px;
}
div.block-tagadelic {
	border-bottom:none;
	margin-bottom:0px;
	padding-bottom:0px;
}

/********************************************************* VIEWS LISTBOXES ****************************************************************/

.item-list {
	font-size:0.85em;
	/*margin-bottom:14px;padding-bottom:14px;
	border-bottom:2px dotted #999;*/
	border:1px solid #000;
    /*padding:6px;
	margin-bottom:10px;*/
	padding-top:10px;
	padding-bottom:10px;
}

.item-list li{
	margin-bottom:10px;
}

.item-list a {
	color:#000;
	font-weight:normal;
	text-decoration:none;
}
.item-list a:hover {
	color:#000;
	text-decoration:underline;
}
.item-list a:visited {
	color:#000;
	font-weight:bold;
}

#views_slideshow_main_1 {
	padding:10px;
	font-weight:normal;
	border:1px solid #000;
}

.views-field-created {
	font-size-adjust:
}

.view-print-edition {
	background-color:#000;
}

.view-print-edition img{
	text-align:center;
}

.views-view-grid {
	background-color:#000;
	width:100%;
}

.views-view-grid td{
	text-align:center;
}


.view-empty {
	border:1px solid #000;
    padding:0px 10px 10px 10px;
	margin-bottom:10px;
}

.more-link {
	background-color:#000;
	font-weight:bold;
	font-size:14px;
	text-align:left;
	padding-top:4px;
	padding-bottom:4px;
}
.more-link a {
	color:#FFF;
	text-decoration:none;
	padding-left:8px;
}
.more-link a:hover {
	color:#FFF;
	text-decoration:underline;
}
.more-link a:visited {
	color:#FFF;
	text-decoration:none;
}



/*
.view-content ul {
	margin-top:12px;
	margin-left:6px;
}
.view-content li {
	margin-left:0px;
	margin-bottom:12px;
}
*/

/*.item-list {
	font-weight:bold;
	font-size:0.9em;
	text-align:justify;
}
.item-list ul {
	margin-top:12px;
}
.item-list li {
	margin-left:0px;
	margin-bottom:12px;
}*/

/********************************************************* NAVIGATION ELEMENTS ****************************************************************/
#primary ul.links {
    /*float:left;*/
    padding-left:0px;
    margin-left:0px;
    height:29px;
    background-color:#000;
    width:1024px;
    list-style:none;
    margin-top:-3px;
    /*margin-bottom:14px;*/
    border-bottom:1px solid #FFF;
	text-decoration:none;
}

#primary ul.links li {
    color:#fff;
    float:left;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size:12px;
}

#primary ul.links li a{
    padding:6px 20px 6px 20px;
    color:#fff;
    display:block;
}

#primary ul.links li a:hover {
    color:#000;
    background:#FFF;
    padding:6px 20px 6px 20px;
	text-decoration:none;
}

.selected {
    color:#fff;
    background:black;
}

#secondary ul.links {
    /*float:left;*/
    padding-left:0px;
    margin-left:0px;
    height:29px;
    background-color:#000;
    width:1024px;
    list-style:none;
    /*margin-top:10px;*/
    margin-bottom:14px;
    /*border-top:4px solid #cfcfcf;*/
}

#secondary ul.links li {
    color:#fff;
    float:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
}

#secondary ul.links li a{
    padding:7px 20px 7px 20px;
    color:#fff;
    display:block;
}

#secondary ul.links li a:hover {
    color:#000;
    background:#FFF;
	padding:7px 20px 7px 20px;
	text-decoration:none;
}


/*.pager {
	margin-top:-10px;
	margin-bottom:-14px;
	background-color:#000;
	color:#FFF;
}*/


#navbar a {
	color:#FFF;
	text-decoration:none;
}
#navbar a:hover {
	text-decoration:underline;
	color:#FFF;
}
#navbar a:visited {
	text-decoration:underline;
	color:#FFF;
}
#categories-menu {
	background-color:#1D3359;
	float:left;
	height:16em;
	width:1024px;
	margin-top:14px;
}
#categories-menu a {
	color:#FFF;
	text-decoration:none;
}
#categories-menu a:hover {
	text-decoration:underline;
	color:#FFF;
}
#categories-menu a:visited {
	text-decoration:none;
	color:#FFF;
}
#categories-menu div.A, #categories-menu div.B {
	border-right:1px solid #FFF;
	position:relative;
	z-index:100;
	min-height:235px;
}
#categories-menu div.column {
	float:left;
	margin:10px 0px 10px 10px;
	width:330px;
}
#categories-menu h3 {
	font-size:1em;
	position:static;
	clear:both;
	margin-bottom:10px;
}
#categories-menu ul {
	font-size:0.8em;
	margin:-10px 0px 10px -16px;
}
#categories-menu li {
	display:inline;
	margin-left:4px;
}
/ #block-menu-menu-categories {
 background-color:#1D3359;
}
#block-menu-menu-categories ul {
	width:1000px;
}
#block-menu-menu-categories li.leaf {
	display:inline;
}
#block-menu-menu-categories a {
	text-decoration:none;
	color:#FFFFFF;
}
#block-menu-menu-categories a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
#block-menu-menu-categories a:visited {
	color:#FFFFFF;
	text-decoration:underline;
}
/*
div.tagadelic {
	background-color:#1D3359;
	padding:10px;
	margin-top:14px;
}
div.tagadelic a {
	color:#FFF;
	text-decoration:none;
}
div.tagadelic a:hover {
	text-decoration:underline;
	color:#FFF;
}
div.tagadelic a:visited {
	text-decoration:underline;
	color:#FFF;
}
*/

/*
#navbar div.more-link {
	font-weight:bold;
	font-size:14px;
	text-align:left;
	margin-top:14px;
}
#navbar div.more-link a {
	background:url(images/moretags-chevron.jpg) no-repeat;
	color:#39A9D3;
	text-decoration:none;
	padding-left:12px;
}
#navbar div.more-link a:hover {
	color:#39A9D3;
	text-decoration:underline;
}
#navbar div.more-link a:visited {
	color:#39A9D3;
	text-decoration:none;
}
*/



/********************************************************* CLOSURE ****************************************************************/

#closure-blocks /* See also the #page declaration above that this div shares. */ {
	clear:both;
	padding-top:1.8em;
	text-align:center;
	font-size:0.7em;
}
#closure-blocks a /* See also the #page declaration above that this div shares. */ {
	color:#1D3359;
}


/********************************************************* UNUSED ****************************************************************/

/*#navbar {
	clear:left;
	overflow: hidden; /* May need to be removed if using a dynamic drop-down menu */
/*}*/

  /* If a div.clear-block doesn't have any content after it and its bottom edge
     touches the bottom of the viewport, Firefox and Safari will mistakenly
     place several pixels worth of space between the bottom of the div and the
     bottom of the viewport. Uncomment this CSS property to fix this.
     Note: with some over-large content, this property might cause scrollbars
     to appear on the #page div.
  */
  /*
  #page
  {
    overflow-y: hidden;
  }
  */
