/**
 * Special CSS styles for the fancy slide module.
 */
 
.fancy-slide {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.fancy-slide ul{
  list-style:none;
}
.fancy-slide ul li,
.fancy-slide ul li a {
  background: none;
  display: block;
  margin: 0;
  padding: 0;
}

#controller{
  background-color: #004477;
  bottom: 0;
  float:left;
  padding: 10px;
  position:absolute;
}

#controller .controls{
  float:right;
}

#controller span,
#controller p{
  float:left;
  margin:4px 5px 0 0;
}
#controller span{
  color:#fff;
  font-weight:bold;
}
#controller p{
  color:#fff;
}
#controller p.active{
  display:block;
}
#controller p.inactive{
  display:none;
}

#controller a{
  border:1px solid #3399ff;
  float:left;
  margin-right:10px;
}
#controller a:last-child{
  margin-right:0;
}
#controller a.active{
  border-color:#fff;
}
#controller img{
  float:left;
  display:block;
  width:40px;
  height:30px;
  overflow:hidden;
}