.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-frontpage_layout-1 {
  float: left;
  width: 99.0000%;
}

.panels-flexible-frontpage_layout-inside {
  padding-right: 0px;
}

.panels-flexible-frontpage_layout {
  width: auto;
}

.panels-flexible-region-frontpage_layout-section_menu {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-frontpage_layout-13-inside {
  padding-right: 0px;
}

.panels-flexible-column-frontpage_layout-16 {
  float: left;
  width: 374px;
}

.panels-flexible-column-frontpage_layout-9 {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-frontpage_layout-8-middle {
  margin-right: 374px;
}

.panels-flexible-row-frontpage_layout-8-inside {
  padding-right: 0px;
}

.panels-flexible-region-frontpage_layout-content_summary {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-frontpage_layout-12-inside {
  padding-right: 0px;
}

.panels-flexible-region-frontpage_layout-publication_bottom {
  float: left;
  width: 27.7154%;
}

.panels-flexible-region-frontpage_layout-directory_bottom {
  float: left;
  width: 71.2846%;
}

.panels-flexible-row-frontpage_layout-20-inside {
  padding-right: 0px;
}

.panels-flexible-region-frontpage_layout-column_top {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-frontpage_layout-22-inside {
  padding-right: 0px;
}

.panels-flexible-region-frontpage_layout-publication {
  position: relative;
  float: left;
  background-color: transparent;
  width: 154px;
}

.panels-flexible-region-frontpage_layout-directory_slideshow {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-frontpage_layout-19-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-row-frontpage_layout-19-middle {
  margin-left: 154px;
}

* html .panels-flexible-row-frontpage_layout-19-left {
  left: 154px;
}

.panel-flexible-admin .panels-flexible-row-frontpage_layout-19-inside {
  padding-left: 0px;
}

.panels-flexible-region-frontpage_layout-extra_info {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-frontpage_layout-18-inside {
  padding-right: 0px;
}

