.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-29-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-29-inside {
  padding-right: 0px;
}

.panels-flexible-29 {
  width: auto;
}

.panels-flexible-column-29-8 {
  float: left;
  width: 59.5853%;
}

.panels-flexible-column-29-9 {
  float: left;
  width: 39.4147%;
}

.panels-flexible-row-29-7-inside {
  padding-right: 0px;
}

.panels-flexible-region-29-content_pane_ {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-29-10-inside {
  padding-right: 0px;
}

.panels-flexible-region-29-list_content_ {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-29-12-inside {
  padding-right: 0px;
}

