.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-30-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-30-inside {
  padding-right: 0px;
}

.panels-flexible-30 {
  width: auto;
}

.panels-flexible-column-30-8 {
  float: left;
  width: 47.0590%;
}

.panels-flexible-column-30-9 {
  float: left;
  width: 51.9410%;
}

.panels-flexible-row-30-7-inside {
  padding-right: 0px;
}

.panels-flexible-region-30-content_pane_ {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-30-10-inside {
  padding-right: 0px;
}

.panels-flexible-region-30-article_links {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-30-13-inside {
  padding-right: 0px;
}

.panels-flexible-region-30-scribd_frame {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-30-14-inside {
  padding-right: 0px;
}

